.text_header {
  width: 956px;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
}

.block_top {
  display: block;
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 500px;
}
.top_img {
  display: block;
  width: 100%;
  height: 100%;
}

.text_top_img {
  width: 430px;
  height: 81px;
  bottom: 40px;
  left: 40px;
  position: absolute;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #ffffff;
}

.o_nas {
  display: block;
  position: relative;
  width: 1051px;
  height: 518px;
  margin-top: 150px;
}

.o_nas_title {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
}

.o_nas_text {
  margin-top: 30px;
  font-family: Manrope;
  font-size: 45px;
  font-weight: 400;
  line-height: 61.47px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
}

.o_nas_button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  background-color: #ad1818;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .text_header {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
  }

  .block_top {
    margin-top: 30px;
    height: 450px;
  }

  .text_top_img {
    width: 400px;
    font-size: 18px;
  }

  .o_nas {
    margin-top: 90px;
    width: 100%;
    height: 400px;
  }

  .o_nas_title {
    font-size: 16px;
  }

  .o_nas_text {
    font-size: 35px;
  }

  .o_nas_button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
}
