.block_contacts {
  display: block;
  margin-left: calc((100% - 1150px) / 2);
  width: 1150px;
  padding: 150px 0;
}
.contacts_title {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
  margin-bottom: 75px;
}
.contacts_boxes {
  display: flex;
  width: 100%;
}

.contacts_phone {
  position: relative;
  width: 50%;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
}

.contacts_phone::before {
  content: "";
  position: absolute;
  display: block;
  top: -40px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/images/before_phone.png");
  background-repeat: no-repeat;
  background-position: 50%;
}
.contacts_mail {
  position: relative;
  width: 50%;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-align: left;
}
.mail_text {
  opacity: 50%;
  text-decoration: underline;
}

.contacts_mail::before {
  content: "";
  position: absolute;
  display: block;
  top: -40px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/images/before_mail.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.block_footer {
  position: relative;
  display: block;
  width: 100%;
  height: 229px;
  background-color: #121212;
}
.menu_footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 450px;
  top: 60px;
  left: calc(50% - (450px / 2));
}

.copy_footer {
  position: absolute;
  width: 390px;
  left: calc(50% - (390px / 2));
  bottom: 30px;
  color: #ffffff;
  opacity: 50%;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  letter-spacing: -0.03em;
}
.text_menu_footer {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #ffffff;
}

.text_menu_footer:hover {
  opacity: 50%;
}
@media (max-width: 1199px) {
  .block_contacts {
    margin-left: 0;
    width: 100%;
    padding: 90px 10px;
  }

  .contacts_title {
    margin-bottom: 50px;
  }

  .contacts_phone {
    font-size: 40px;
  }

  .contacts_phone::before {
    top: -30px;
    width: 20px;
    height: 20px;
  }
  .contacts_mail {
    font-size: 40px;
  }

  .contacts_mail::before {
    top: -30px;
    width: 20px;
    height: 20px;
  }

  .block_footer {
    height: 200px;
  }
  .menu_footer {
    width: 400px;
    top: 40px;
    left: calc(50% - (400px / 2));
  }

  .copy_footer {
    width: 350px;
    left: calc(50% - (350px / 2));
    bottom: 20px;
    font-size: 18px;
  }
  .text_menu_footer {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .block_contacts {
    padding: 60px 10px;
  }

  .contacts_title {
    margin-bottom: 30px;
  }

  .contacts_boxes {
    flex-direction: column;
  }
  .contacts_phone {
    margin-top: 50px;
    width: 100%;
  }

  .contacts_mail {
    margin-top: 50px;
    width: 100%;
  }

  .block_footer {
    height: 180px;
  }
  .menu_footer {
    width: 300px;
    top: 30px;
    left: calc(50% - (300px / 2));
  }

  .copy_footer {
    width: 300px;
    left: calc(50% - (300px / 2));
    bottom: 15px;
    font-size: 14px;
  }
  .text_menu_footer {
    font-size: 14px;
  }
}
